# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db 